img {
  width: 300px;
}

.headlineBody {
  padding: 20px;
  margin: 20px;
  background-color: #ebe6e6;
  display: flex;
}

.newsHeading, .storyContainer {
  margin: 5px;
}

.newsHeading {
  padding-bottom: 20px;
  color: #4d4646;
}
.storyContainer {
  background-color: white;
  display: flex;
}

.rightSide {
  padding: 10px;
}

.rhsCategory {
  color: darkgray;
}